#ENV=dev
ENV=prod
#ALLOW_POSTS=false
ALLOW_POSTS=true
SKIP_RATE_LIMITS=true

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DB_CONN=

OPENAI_API_KEY=
GOOGLE_LOCATION=
KMS_KEYRING=
KMS_KEY=
API_HOST=
API_PORT=
LOG_LEVEL=
LOG_JSON=
SUPABASE_ANON_KEY=

GOOGLE_APPLICATION_CREDENTIALS=